# Ignore source, config, tests
src/**
test/**
.vscode/**
.vscode-test/**
.vsc-extension-quickstart.md
.vscodeignore
.gitignore
**/*.ts
**/*.map
**/tsconfig.json
**/eslint.config.mjs
**/.vscode-test.*
webpack.config.js

# Ignore node_modules (webpack bundles deps)
node_modules/**

# Ignore build artifacts
dist/**
out/test/**

# Keep built output & static assets
!out/extension.js
!media/**
!images/**
